@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #010101;
  color: azure;
}
main {
  height: 100%;
  width: 100%;
  padding: 10px;
  display: grid;
  gap: 10px;
  border-radius: 40px;
  grid-template-columns: 22% 20% 7% 27% 22%;
  grid-template-rows: 29% 26% 7% 18% 20%;
  grid-template-areas:
    "left-top top-center1 top-center1 top-center2 right-top"
    "left-top center center center right-top"
    "left-bottom center center center right-top"
    "left-bottom center center center right-bottom"
    "left-bottom bottom-center1 bottom-center2 bottom-center2 right-bottom";
}
main > div {
  border-radius: 20px;
  background-color: #2d2c2c;
}
.left-top {
  grid-area: left-top;
}
.left-bottom {
  grid-area: left-bottom;
}
.top-center1 {
  grid-area: top-center1;
}
.top-center2 {
  grid-area: top-center2;
}
.center {
  grid-area: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: pink;
}
.center .circle {
  background: radial-gradient(#f3eded, #f38a9b);
  height: 100%;
  width: 45%;
  border-radius: 50%;
}
.center img {
  position: absolute;
  bottom: 0;
  height: 430px;
}
.bottom-center1 {
  grid-area: bottom-center1;
}
.bottom-center2 {
  grid-area: bottom-center2;
  background: #fef2f2;
  color: #010101;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bottom-center2-div1 {
  display: flex;
  padding: 25px 35px 25px 20px;
  flex-direction: column;
  gap: 12px;
}
.bottom-center2-div1 h2{
    font-size: 20px;
    font-weight: 600;
}
.bottom-center2-div1 p{
    font-size: 12px;
}
.bottom-center2-div1 button {
  background-color: #010101;
  margin-right: auto;
  color: white;
  padding: 10px 8px;
  border-radius: 20px;
}
.bottom-center2 img {
  width: 120px;
  height: 120px;
}
.right-top {
  grid-area: right-top;
  padding: 20px;
  background: #FCF8F9;
}
.right-top img{
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: -13px;
    border: 2px solid #010101;
}
.right-bottom {
  grid-area: right-bottom;
}
